body {
  text-align: center;
  background-color: black;
  color:white;
  font-size: 23px;
}

body button {
  font-size: 35px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.canvas{
  align-items: center;
}

li{
  list-style: none;
}